.cadastro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.cadastro__logo {
  padding-top: 30px;
  width: 150px;
}

.cadastro__title {
  align-self: center;
  color: #990410;
  font-size: 50px;
  margin-bottom: 20px;
}

.cadastro__decor-circle {
  width: 35vw;
  height: 30vw;
  background-color: #990410;
  border-radius: 50%;
  position: fixed;
  top: -15vw;
  left: -15vw;
}

.cadastro__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  margin: 20px 0 10px;
}

.input {
  color: #fff;
  background-color: #990410;
  border-radius: 6px;
  border: none;
  height: 60px;
  padding: 10px 12px 10px 50px; /* espaço pro ícone à esquerda */
  width: 100%;
  outline: none;
}

.input::placeholder {
  font-size: 16px;
  color: #fff;
}

.input[class*="input--"] {
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 24px;
}

.input--name {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1077/1077114.png');
}

.input--email {
  background-image: url('https://cdn-icons-png.flaticon.com/512/561/561127.png');
}

.input--password,
.input--password-confirm {
  background-image: url('https://cdn-icons-png.flaticon.com/512/3064/3064155.png');
}

.input--cpf {
  background-image: url('');
}

.input--cep {
  background-image: url('');
}

.input--number {
  background-image: url(''); 
}

.input--date {
  background-image: url('https://cdn-icons-png.flaticon.com/512/747/747310.png'); 
}

.input--blood {
  background-image: url(''); 
}

.input--photo {
  background-image: url('https://cdn-icons-png.flaticon.com/512/709/709496.png'); 
}

.input--sex {
  background-image: url(''); 
}

.cadastro__actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  border: none;
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  padding: 0 16px;
  background: transparent;  
  color: inherit;            
  transition: opacity .2s ease;
}

.btn--primary {
  background-color: #990410;
  color: #fff;
}

.btn--link {
  background: transparent;  
  color: #990410;
}

.btn:hover,
.btn--link:hover,
.btn--primary:hover {
  opacity: 0.9;
}