.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

h1 {
  display: flex;
  align-self: center;
  color: #990410;
  font-size: 56px;
}

.bola-cortada {
  width: 40vw;
  height: 40vw;
  background-color: #990410;
  border-radius: 50%;
  position: fixed;
  top: -15vw;
  left: -15vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding:10px;
  border-radius: 20px;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & input {
    color: #fff;
    background-color: #990410;
    border-radius: 5px;
    border: none;
    height: 50px;
    padding: 10px;
  }
  & input::placeholder {
    color: #fff;
    border: #fff;
  }
  
  & button {
    color: #fff;
    background-color: #990410;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-size: 20px;
  }
  & #tem_conta {
    color: #990410;
    background-color: transparent;
  }
  & button:hover {
    opacity: 0.8;
  }
}
