.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.login__logo {
  padding-top: 30px;
  width: 200px;
}

.login__title {
  align-self: center;
  color: #990410;
  font-size: 80px;
  margin-bottom: 20px;
}

.login__decor-circle {
  width: 35vw;
  height: 30vw;
  background-color: #990410;
  border-radius: 50%;
  position: fixed;
  top: -15vw;
  left: -15vw;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  margin: 20px 0 10px;
  height: 600px;
}

.input[class*="input--"] {
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 24px;
  height: 80px;
}

.input--email {
  background-image: url('https://cdn-icons-png.flaticon.com/512/561/561127.png');
}

.input--password {
  background-image: url('https://cdn-icons-png.flaticon.com/512/3064/3064155.png');
}

.login__forgot {
  align-self: flex-end;
  color: #990410;
  background: transparent;
  border: none;
  height: auto;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.login__forgot:hover {
  opacity: 0.8;
}

.login__actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}

